@use '_variables';

@media screen and (max-width: 576px) {
  body {
    max-width: 576px;
}

h1 {
    font-size: 1.5em;
}

li, input  {
    font-size: 0.8em;
}

input  {
    font-size: 0.8em;
    }

.check {
    height: 3vh;
    width: 3vh;
    margin: 3vh 3vh 3vh 0;
}

.add, .delete {
    border-radius: 3vh;
    width: 15vh;
    height: 5vh;
    font-size: 0.8em;

}
 
}