@use '_variables';


@media (min-width: 769px) {
    body {
        max-width: 992px;
    }
    
    h1 {
        font-size: 2.5em;
    }
    
    li, input  {
        font-size: 1.2em;
    }
    
    input  {
        font-size: 1.2em;
        }
    
    .check {
        height: 3.2vh;
        width: 3.2vh;
        margin: 3.2vh 3.2vh 3.2vh 0;
    }
    
    .add, .delete {
        border-radius: 3vh;
        width: 17vh;
        height: 7vh;
        font-size: 1.2em;
    }
     
 }
